@keyframes shake {
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(2px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(-2px);
  }
}

.video-form {
  flex: 0 0 100%;
}

.video-form-input {
  margin-bottom: 8px;

  input {
    box-sizing: border-box;
    border: 2px solid white;
    background: white;
    padding: 16px;
    color: black;
    font-size: 16px;
    width: 100%;

    &.error {
      border: 2px solid red;
      animation: shake 0.5s ease;
    }
  }
}

.add-button {
  display: block;
  margin-left: auto;
  border: 0;
  width: 300px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;

  &:active {
    background: darken(white, 10%);
  }
}
