.playlist {
  padding: 16px;
  flex: 0 0 328px;

  h3 {
    margin: 0 0 16px;
  }

  ul {
    list-style: none;
    padding: 0;
    height: 352px;
    overflow: auto;

    li {
      position: relative;
      margin: 8px 0;
      cursor: pointer;

      &:hover {
        .remove-video {
          display: block;
        }
      }

      &.now-playing {
        padding: 4px;
        border: 2px solid lime;
      }
    }
  }
}

.now-playing-text {
  font-size: 10px;
  color: lime;
  margin-bottom: 8px;
}

.song-title {
  font-size: 20px;
  font-weight: bold;
}

.artist {
  font-size: 16px;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.button {
  border: 2px solid lime;
  background: lime;
  color: black;
  width: 100px;
  font-size: 16px;
  cursor: pointer;
  padding: 8px;

  &:active {
    background: darken(lime, 10%);
  }
}

.remove-video {
  display: none;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 9px;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
  border: 1px solid black;

  &:before,
  &:after {
    position: absolute;
    content: "";
    height: 20px;
    width: 2px;
    background: white;
  }

  &:before {
    transform: rotate(45deg) translate(6px, -6px);
  }

  &:after {
    transform: rotate(-45deg) translate(6px, 6px);
  }
}
